<div class="add-container py-5">
    <div class="card-body my-5 py-0">
        <h1 class="text-center mt-2">Add User</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="userName" class="mb-1" [ngStyle]="{'font-size': '16px', 'font-weight': '400' }">Username</label>
                <input type="text" id="userName" placeholder="Username" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                    <div *ngIf="f.userName.errors.required">Username is required</div>
                    <div *ngIf="f.userName.errors?.['minlength']">Username must be ateast 4 characters</div>
                    <div *ngIf="f.userName.errors?.['maxlength']">Username must be maximum of 20 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="mb-1" [ngStyle]="{'font-size': '16px', 'font-weight': '400' }">Password</label>
                <div class="input-group">
                    <input type="{{(showPassword === false)?'password':'text'}}" class="form-control" id="password" placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                    <div class="input-group-append">
                        <span class="input-group-text">
                        <i
                            class="fa"
                            [ngClass]="{
                            'fa-eye-slash': !showPassword,
                            'fa-eye': showPassword,
                            'font-weight': 'bold'
                            }"
                            (click)="toggleShowPassword()"
                        ></i>
                        </span>
                    </div>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors?.['minlength']">Password must be atleast 8 characters</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="mb-1" [ngStyle]="{'font-size': '16px', 'font-weight': '400' }">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label for="age" class="mb-1" [ngStyle]="{'font-size': '16px', 'font-weight': '400' }">Age</label>
                <input type="number" class="form-control" id="age" placeholder="age" min="18"  max="99" formControlName="age"[ngClass]="{ 'is-invalid': submitted && f.age.errors }">
                <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                    <div *ngIf="f.age.errors.required">Age is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="gender" class="mb-1" [ngStyle]="{'font-size': '16px', 'font-weight': '400' }">Gender</label>
                <select id="gender" class="form-control" formControlName="gender">
                    <option value=0>---select gender---</option>
                    <option selected value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                </select>
            </div>
            <div class="form-group">
                <label for="profilePicUrl" class="mb-1" [ngStyle]="{'font-size': '16px', 'font-weight': '400' }">ProfilePic Url</label>
                <input type="text" class="form-control" id="profilePicUrl" placeholder="profilePicUrl" formControlName="profilePicUrl">
            </div>
            <div class="form-group text-center">
                <button [disabled]="loading" class="btn btn-primary mr-2" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Add
                </button>
                <a routerLink="/users" [ngStyle]="{'color': 'black', 'text-decoration':'none' }" >Cancel</a>
            </div>
        </form>
    </div>
    
</div>