<div class="card">
    <h4 class="card-header">User Registration</h4>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" id="userName" placeholder="Username" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fc.username.errors }" />
                <div *ngIf="submitted && fc.username.errors" class="invalid-feedback">
                    <div *ngIf="fc.username.errors.required">Username is required</div>
                    <div *ngIf="fc.userName.errors.minLength">Username must be between 4 to 20 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && fc.password.errors }" />
                <div *ngIf="submitted && fc.password.errors" class="invalid-feedback">
                    <div *ngIf="fc.password.errors.required">Password is required</div>
                    <div *ngIf="fc.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fc.email.errors }">
                <div *ngIf="submitted && fc.email.errors" class="invalid-feedback">
                    <div *ngIf="fc.email.errors.required">Email is required</div>
                    <div *ngIf="fc.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" placeholder="age" min="18"  max="99" formControlName="age"[ngClass]="{ 'is-invalid': submitted && fc.age.errors }">
                <div *ngIf="submitted && fc.age.errors" class="invalid-feedback">
                    <div *ngIf="fc.age.errors.required">Age is required</div>
                    <div *ngIf="fc.age.errors.minLength">Age must be minimum of 18 years</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary" type="submit">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>

