.bg-image-register {
    background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-left: 400px;
  }

.card-body{
    height: 500px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}