.bg-image-register {
    background-image: url('https://img.freepik.com/free-photo/modern-futuristic-sci-fi-background_35913-2152.jpg?size=626&ext=jpg&ga=GA1.2.550288389.1654063047');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-left: 355px;
  }

.card-body{
    width: 450px;
    box-shadow: rgba(218, 206, 206, 0.35) 0px 5px 15px;
}

.card-header{
  margin-left: 130px;
  min-width: 100%;
}

.form-control{
  height: 34px;
}
