<div class="container-fluid px-auto">
    <div class="row pl-2">
        <nav mat-tab-nav-bar [ngStyle]="{'background-color': 'white'}" [tabPanel]="tabPanel">
            <a class="p-5 " mat-tab-link [active]="!allPostsTab" (click)="onClickAll()">
                <p class="user-card">All</p>
            </a>
            <a class="p-5" mat-tab-link *ngFor="let user of users"
               (click)="activeLink = user" (click)="onClickUser(user.posts)"
               [active]="activeLink == user">
               <p class="user-card ">{{user.userName.split(" ")[0]}}</p>
            </a>
        </nav>
        <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
    </div>
    <div class="row">
        <div class="col-10 pl-4">
            <ul class="px-0">
                <li *ngFor="let post of posts; let i=index" class="card p-2 my-3 mx-0">
                    <div class="d-flex flex-row justify-content-between mt-1 mb-3">
                        <p class="ml-2" [ngStyle]="{'color': '#3a0a3d','font-size': '20px', 'font-weight': 'bold' }">{{post.postedBy}}</p>
                        <p class="mr-3">{{post.postedAt | date: 'medium'}}</p>
                    </div>
                    <p class="ml-2">{{post.description}}</p>
                    <div class="d-flex flex-row justify-content-between mt-3">
                        <button (click)="onClickLike(post)" color="{{(post.isLiked)?'primary':'secondary'}}" mat-dialog-title mat-icon-button aria-label="icon button with a like icon">
                            <mat-icon [ngStyle]="{'font-size': '30px'}" matBadgeOverlap="false" matBadge="{{post.likes.length}}" matBadgeColor="primary">thumb_up</mat-icon>
                        </button>
                        <button (click)="openDialog(post.comments, post)" mat-dialog-title mat-icon-button color="secondary" aria-label="icon button with a delete icon">
                            <mat-icon [ngStyle]="{'font-size': '30px'}"  matBadge="{{post.comments.length}}" matBadgeColor="warn">comment</mat-icon>
                        </button>
                        <button (click)="onDelete(post.postId)" [disabled]="currentUser.userName!==post.postedBy"  mat-icon-button color="secondary" aria-label="icon button with a delete icon">
                            <mat-icon [ngStyle]="{'font-size': '28px'}">delete</mat-icon>
                        </button>
                    </div>  
                </li>
            </ul>
        </div>
        <div class="col-2">
            <button (click)="openPostDialog()" class="btn btn-success mt-3 ml-3 mr-0">Create New Post</button>
        </div>
    </div>
</div>
