.card{
    border-radius: 8px;
}

.user-card{
    list-style-type: none;
    padding: 32px;
    border-radius: 200px;
    border: 1px outset rgb(204, 152, 9);
    font-size: 25px;
    font-weight: bold;
    margin: 5px;
    height: 85px;
    width: 85px;
}

ul li:hover {background: rgb(212, 230, 231);}

.user-card-all{
    list-style-type: none;
    border-radius: 200px;
    border: 1px outset rgb(204, 152, 9);
    font-size: 20px;
    font-weight: bold;
    height: 87px;
    width: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    border-bottom: 2px outset blue;
}