<div class="d-flex justify-content-between">
    <h2 class="text-center">New Post</h2>
    <mat-icon mat-dialog-close>close</mat-icon>
</div>
<form class="d-flex" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <textarea rows="3" cols="40" id="description" placeholder="description" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Message required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary ml-3" type="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Post
        </button>
    </div>
</form>