<h1 class="text-center fw-500">New Post</h1>
<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="description" [ngStyle]="{'font-size': '20px'}">Description</label>
        <textarea rows="3" cols="50" id="description" placeholder="description" formControlName="description" class="form-control mb-1" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
            <div *ngIf="f.description.errors.required">Message required</div>
        </div>
    </div>
    <div class="form-group d-flex justify-content-end align-items-center">
        <a mat-dialog-close [ngStyle]="{'color': 'blue', 'text-decoration': 'none' }">Cancel</a>
        <button [disabled]="loading" class="btn btn-primary ml-2" type="submit">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Post
        </button>
    </div>
</form>