<div class="d-flex justify-content-between align-items-center">
    <h1 class="ml-2 mt-2 users-head">Users</h1>
    <a routerLink="/createUser" class="btn btn-success add-user mr-3">Add User</a>
</div>
<table class="table table-striped">
    <thead [ngStyle]="{'background-color': 'gray', 'font-size': '16px', 'height': '50px'}">
        <tr>
            <th style="width: 10%">User Id</th>
            <th style="width: 15%">User Name</th>
            <th style="width: 20%">Email Address</th>
            <th style="width: 15%">Gender</th>
            <th style="width: 10%">Age</th>
            <th style="width: 15%"></th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let user of users">
            <td class="pl-3">{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td class="pl-3">{{user.age}}</td>
            <td class="pl-0" style="white-space: nowrap">
                <a (click)="update(user)" class="btn btn-sm btn-primary mr-3">Edit</a>
                <button class="btn btn-sm btn-danger btn-delete-user" (click)="deleteUser(user.userId)" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>

