<div class="m-2 d-flex justify-content-between">
    <h1 class="ml-2 users-head">Users</h1>
    <a routerLink="/createUser" class="btn btn-success add-user mr-3">Add User</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">User Id</th>
            <th style="width: 20%">USERNAME</th>
            <th style="width: 25%">Email Address</th>
            <th style="width: 25%">Age</th>
            <th style="width: 25%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td class="pl-4">{{user.userId}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td class="pl-3">{{user.age}}</td>
            <td style="white-space: nowrap">
                <a (click)="update(user.userId)" class="btn btn-sm btn-primary mr-2">Edit</a>
                <button class="btn btn-sm btn-danger btn-delete-user" (click)="deleteUser(user.userId)" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>

